*{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
	box-sizing: border-box;
}

body{
    font-family: open sans;
}

a{
    color: rgb(255, 255, 255);
	color: black;
    text-decoration: none;
	font-size: 135%;
	
}

i{
    margin-right: 3%;
	
}

.wrapper{
	height: 100vh;
	width: 100vw;
	/* background-image:  linear-gradient(to bottom right, rgb(2,26,51), rgb(213, 213, 213)); */
	/* background-image: url(https://static.vecteezy.com/system/resources/previews/012/001/969/non_2x/dark-blue-banner-and-backdrop-background-vector.jpg); */
	/* background-color: white; */

	/* light img 1*/
	background-image: url(https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?size=626&ext=jpg&ga=GA1.2.1929311289.1694337303&semt=ais);
    background-image: url(https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?size=626&ext=jpg&ga=GA1.1.1929311289.1694337303&semt=ais);
	background-size: cover;
	
	

}

.web{
	height: 8.5vh;
	width: 100vw;
	
	display: flex;
	
}

.logoweb{
	height: 8.5vh;
	width: 20vw;
	background: rgba(31, 62, 96, 0.2);  
	background-color: rgba(195, 206, 226,0.4);
	/* background-color: rgb(2, 26, 51); */
	/* background: transparent; */
	
}

.webimg{
	height: 94%;
	width: 100%;
}


.nameweb{
	height: 8.5vh;
	width: 80vw;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(2, 26, 51); 
	background: rgba(31, 62, 96, 0.2);  
	background-color: rgba(195, 206, 226,0.4);
	/* background: transparent; */
	
}

#mainheadtag{

	font-size: 250%;
	font-family: cursive;
	color: rgba(255, 255, 255, 0.844);
	color: black;
	
}


.remain{
	height: 91.5vh;
	/* border: 4px solid green; */
	display: flex;
	
}
/* .sidenav , .content{
	border: 2px solid purple;
} */

.sidenav{
	height: 91.5vh;
	width: 20vw;

}

.content{
	height: 91.5vh;
	width: 80vw;
    /* outline:0.2vh solid blue;
    outline-offset: -0.2vh; */
}



.wrapper .sidenav{
 background: rgba(2, 26, 51); 
 background: rgba(31, 62, 96, 0.2);  
 background-color: rgba(195, 206, 226,0.4);
 
 /* background: transparent; */
}

 .sidenav{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} 

 /* .wrapper{
	border: 5px solid orange;
}  */

.wrapper .remain .sidenav h1{
    color:white;
    text-align : center;
	line-height: 100%;
    border-bottom: 1px dotted white;
    font-size: 170%;
	overflow-y: hidden;
}

ul{
   margin-top: 7%;
   /* border: 2px solid red; */
   height: 100%;
} 



.wrapper .remain .sidenav ul li{
    list-style: none;
    /* pading: 50px; */
	height: 7%;
	margin: 3%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255,255,255,0.1);


}

.wrapper .remain .main_text{
width: 80vw;
margin-left: 20vw;
}

/* main text */

.profile-image{
    height:48%;
    width:15%;
    border-radius: 50%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWZWFVq0QIidGN0ioQJHhNBoEr1DvlH_yR05nH2_uz3tku7PvXWnDGshe5PHLqxQ91oMQ&usqp=CAU");
    background-size: cover;


}
.profile-details{
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	height: 12vh;
	
}




.bcolor:hover{
	box-shadow: 2px 2px 1px rgb(7, 121, 244),
	            -2px -2px -2px rgb(7, 121, 244);
}

tr:hover{
	transform: scale(1.01);
	transition: 0.1s;
}

.profile-name{
	color: black;
	height: auto;
	overflow-y: hidden;
}










.facultyinfo{
    width:80vw;
    height:50vh;
    /* outline:0.2vh solid black;
    outline-offset: -0.2vh; */

 }

 .facultyphoto{
    display: inline-block;
    height: 40vh;
    width: 17vw;
    /* outline:0.5vh solid black;
    outline-offset: -0.5vh; */
    border-radius: 2vh;
	margin-left: 2vh;
	margin-top: 6vh;
	margin-bottom: 2.5vh;
    background-color: rgba(198, 203, 212, 0.4);
    /* border-radius: 25vh; */
}


.facultyimg{
    height: 30vh;
    width: 15vw;
    margin-left: 1vw;
    margin-top: 5.5vh;
    /* border-radius: 500px; */
	margin-right: 5vh;
    border-radius: 15vh;
}


.facultydetail{
    display: inline-block;
    /* outline:0.2vh solid black;
    outline-offset: -0.2vh; */
    height: 48vh;
    width: 59.5vw;
}

.facultyname{
	height: 8vh;
    /* outline: 2px solid black;
    outline-offset: -2px; */
    border-radius: 6px;
    margin-top: 5.3vh;
    padding-top: 1.5vh;
    padding-left: 4vh;
}



 .degree{
    height: 8vh;
    /* outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 6px; */
	padding-top: 2vh;
    padding-left: 4vh;
    font-size: 23px;
    font-family: sans-serif;
}


.mo-number{
    height: 8vh;
    /* outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 6px; */
    padding: 2vh 2vw;
    font-size: 20px;
}

.location{
    height: 8vh;
    /* outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 6px; */
    padding: 2vh 2vw;
    font-size: 20px;
}

.email{
    height: 8vh;
    /* outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 6px; */
    padding: 2vh 2vw;
    font-size: 20px;
} 





.biography{
    width: 77vw;
    height: 40vh;

    /* outline:0.5vh solid rgb(2, 26, 51);
    outline-offset: -0.5vh; */
    padding: 0.8vh 2vh;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 1.5vh;
    margin-right: 3vh;
	margin-bottom: 0.7vh;
    border-radius: 2vh;
    /* background-color: rgba(195, 206, 226,0.4); */
    /* opacity: 0.8; */
}

.facultyname:hover,.degree:hover,.mo-number:hover,.location:hover,.email:hover {
    transform: scale(1.007);
	transition: 0.1s;
}

 .facultyphoto:hover
{
    transform: scale(1.05);
	transition: 0.1s;
}
.biography:hover
{
    transform: scale(1.027);
	transition: 0.2s;
}

/* .facultyphoto:hover{
    transform: scale(1.007);
	transition: 0.1s;
} */

.biography h1{
    margin: 10px 0px;
}

